{{#slick-carousel
  class="ember-carousel"
  autoplay=true
  autoplaySpeed=1000
  slidesToShow=1
  slidesToScroll=1
  dots=true
  fade=true}}
  <div><img class="poster" src="http://static.srcdn.com/slir/w810-h1200-q90-c810:1200/wp-content/uploads/2016/10/Logan-Poster-Hugh-Jackman-Wolverine-3.jpg"></div>
  <div><img class="poster" src="http://cdn.smosh.com/sites/default/files/2016/05/maxresdefault.jpg"></div>
  <div><img class="poster" src="http://photos.laineygossip.com/articles/fantastic-beasts-sequel-03aug16.jpg"></div>
<div><img class="poster" src="http://www.impawards.com/2016/posters/manchester_by_the_sea.jpg"></div>
<div><img class="poster" src="https://1.bp.blogspot.com/-LC08xaUue0U/V-thp3IIP7I/AAAAAAAAJxk/m4cJFz5Y5p4kBjegJeLOJqfonjdo1D4pQCLcB/s1600/Force-2-movie-poster-mt-wiki.jpg"></div>
<div><img class="poster" src="http://s3.foxmovies.com/foxmovies/production/films/18/images/posters/251-asset-page.jpg"></div>

{{/slick-carousel}}
