{{#slick-carousel
  class="ember-carousel"
  autoplay=true
  autoplaySpeed=1000
  slidesToShow=1
  slidesToScroll=1
  dots=true
  fade=true}}
  <div><img src="http://vignette2.wikia.nocookie.net/disney/images/b/b1/Frozen_ver8_xlg.jpg%3F9d7bd4.jpg/revision/latest?cb=20131010215010"></div>
  <div><img src="http://www.4knowledge-4fun.com/thumbnail.asp?file=assets/images/tangledultimatestickerbook_thumbnail.jpg&maxx=150&maxy=150"></div>
  <div><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTk2NTE1NTE0M15BMl5BanBnXkFtZTgwNjY4NTYxMTE@._V1_UY1200_CR90,0,630,1200_AL_.jpg"></div>
{{/slick-carousel}}
