poster-tile
<div class="row">
  <div class="col-xl-2">
    {{#each model as |demo|}}
      <a href="{{demo.name}}"><img src="{{demo.image}}" alt="{{demo.name}}" /></a>
    {{/each}}
  </div>
</div>
 this will work if we want to impliment a movie model.
