<br>
<br>
<br>
<h1 class="aboutP">Find Theaters near you</h1>

<form >
  <div class="form-group">
    {{input value=zip placeholder="zipcode here"}}
  </div>
  <button class="btn btn-xl" {{action 'findTheater'}}>Go</button>
</form>
