<div class="contact container-nav">
  <h2 class="aboutP">About Park Row House</h2>
  <hr>
  <p>Come see why Par Row is the go-to destination for more moviegoers.
    Par Row helps movie fans discover , purchase tickets and share their passion
    for movies in a more engaging and interactive way.
  </p>

  <h4>Partners:</h4>
  <p>
    Park House founding partners include the nations leading exhibitors. AMC theatre,
    Carmike Cinemas, Century Theatres, Cinemark Theatres, Edwards Theatres, Regal Cinemas,
    Together , these exhibitors represent more than eighty percent of the nations theatres
    whith online ticketing capabilites. If you are an exhibitor intrested in partnering
    with Park Row , please visit our partners page.
  </p>

</div>
