<div class="containerN">
  <header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <h4 class="navbar-brand banner-name"></h4>
        <h3><a href="/" ><img class="uc" style="max-width:100px; margin-top: -7px;"
               src="http://www.rowhousecinema.com/webimages/mainlogo.png"></a></h3>
        </div>
        <h1 class="htitle">Row House Movie Finder</h1>

        <h3 class="lin C"><a class="glyphicon glyphicon-film" href="http://localhost:4200/checkout">checkout</a></h3>
      </div>
    </nav>
  </header>
</div>
<br><br><br><br>
  {{outlet}}
  <footer>
    <hr>
    <ul class="nav navbar-nav">
      <li class="lin"><a class="glyphicon glyphicon-home" href="/"></a></li>
      <li class="lin">{{#link-to 'about'}}About{{/link-to}}</li>
      <li class="lin">{{#link-to 'contact'}}Contact{{/link-to}}</li>

    </ul>

  </footer>
