<div class="container-nav">
  <form id="contact" action="" method="post">
    <h3>Row House Movies</h3>
    <h4>Contact us</h4>
    <fieldset>
      <input placeholder="Your name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>

      <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button {{action 'post' contact}} name="submit" type="submit" >Submit</button>
    </fieldset>
  </form>
</div>
