
{{theater-lookup findTheater="findTheater"}}
<hr>
<div class="carousel">
  {{index-carousel}}
</div>
<hr>
{{poster-tile model=model addNewMovie="addNewMovie"}}
<hr>

<iframe id="ytplayer" type="text/html" width="560" height="315" src="https://www.youtube.com/embed/lsJ58L3u8qw" frameborder="1"></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/ny3hScFgCIQ" frameborder="3" allowfullscreen></iframe>
