
<h3>Here are the Theater in {{model.zip}} and the showtime</h3>

{{#each model.theater as |theater|}}

<h2>{{theater.title}}</h2>

  <ul>
    {{#each theater.showtimes as |showtimes|}}

      {{buy-ticket showtimes=showtimes}}
    {{/each}}
  </ul>
{{/each}}
